header{
  background-color: #2d72d9;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

header nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}
